@mixin bp($map) {
  $query: "";
  @if map-has-key($map, min) {
    $query: append($query, "(min-width: #{map-get($map, min)})");
  }
  @if map-has-key($map, min) and map-has-key($map, max) {
    $query: append($query, "and");
  }
  @if map-has-key($map, max) {
    $query: append($query, "(max-width: #{map-get($map, max)})");
  }
  @media screen and #{$query} {
    @content;
  }
}

@mixin button {
  color: $white;
  padding: 10px 30px;
  background: $gradient-button-1;
  background: linear-gradient(to left, $gradient-button-2, $gradient-button-1);
  border-radius: 30px;
  font-weight: 300;
  display: block;
  width: max-content;
  transition: backgraund 0.3s ease-in-out;
}

@mixin border-line($width: 30px) {
  position: absolute;
  display: block;
  content: '';
  width: $width;
  height: 1px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: $white;
}

