@mixin bp($map) {
  $query: "";
  @if map-has-key($map, min) {
    $query: append($query, "(min-width: #{map-get($map, min)})");
  }
  @if map-has-key($map, min) and map-has-key($map, max) {
    $query: append($query, "and");
  }
  @if map-has-key($map, max) {
    $query: append($query, "(max-width: #{map-get($map, max)})");
  }
  @media screen and #{$query} {
    @content;
  }
}

@mixin button {
  color: $white;
  padding: 10px 30px;
  border-radius: 5px;
  background: $bg;
  display: block;
  width: max-content;

  &:hover {
    transition: all 0.3s ease-in-out;
    background: darken($bg, 5%);
  }
}

