$white: #fff;
$black: #000;
$grey: #ececec;
$blue: #70dbd3;
$darkblue: #00008b;
$brown: #a92c2c;
$vinous: #bd0146;

//size for media-queries
$xs: (min: '480px');
$sm: (min: '768px');
$md: (min: '950px');
$lg: (min: '1200px');
//End size for media-queries