$white: #fff;
$black: #000;
$grey: #ececec;
$gradient-1: #42C5FD;
$gradient-2: #A0A9FD;
$gradient-button-1: #FEC0C2;
$gradient-button-2: #E68FFB;
$bg: #5882bf;

$colorText: #333;
$box-border: #c1c1c1;

//size for media-queries
$xs: (min: '480px');
$sm: (min: '768px');
$md: (min: '950px');
$lg: (min: '1200px');
//End size for media-queries