$white: #fff;
$black: #000;
$grey: #ececec;
$blue: #A9E9F3;
$green: #3AD2A1;
$bg: #13ccbb;

$colorText: rgb(139, 139, 139);

//size for media-queries
$xs: (min: '480px');
$sm: (min: '768px');
$md: (min: '950px');
$lg: (min: '1200px');
//End size for media-queries