*,
:after,
:before {
  box-sizing: border-box;
}

a {
  color: $black;
  text-decoration: none;
}

input, textarea, button {
  outline: none;
}

input, textarea {
  padding: 5px 10px;
  border: none;
  box-shadow: inset 0 -1px 0px -0.5px $grey;
  font-size: 14px;
}

textarea {
  min-height: 60px;
}

label {
  color: #777;
}

section[class*='l-grid__item'] > div{
  padding: 15px 30px;
  background-color: $white;
}

.title-center {
  text-transform: uppercase;
  word-spacing: 16px;

  @include bp($sm) {
    text-align: center;
  }
}

