body {
  background: green;

  @include bp($xs) {
    background: yellow;
  }

  @include bp($sm) {
    background: grey;
  }

  @include bp($md) {
    background: none;
  }
}

*, :after, :before {
  //box-sizing: border-box;
}

a {
  color: $black;
  text-decoration: none;
}