$areas: welcome menu about skills job education portfolio contact;

@each $area in $areas  {
  div[class*='--area-#{$area}'], section[class*='--area-#{$area}'] {
    grid-area: $area;
  }
}

.l-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'menu'
    'welcome'
    'about'
    'skills'
    'job'
    'education'
    'portfolio'
    'contact';

  @include bp($md) {
    background: url("../assets/images/bg.jpg") center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    grid-template-columns: 280px 1fr 68px;
    grid-gap: 20px 20px;
    grid-template-areas:
    'welcome about menu'
    '. skills .'
    '. job .'
    '. education .'
    '. portfolio .'
    '. contact .';
  }

  &__item {
    overflow: hidden;
  }
}