h1 {
  //font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: 'Montserrat', sans-serif;
  font-family: 'BrandonGrotesque-Medium', sans-serif;
}

h2, h3 {
  //text-transform: uppercase;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  margin: 5px 0;
}

p {
  text-indent: 30px;
}