.c-contact {

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
  }

  &__overlay {
    height: 2px;
    background-color: $gradient-button-2;
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease-out;
  }

  input:focus + &__overlay, textarea:focus + &__overlay {
    width: 100%;
  }

  &__submit {
    @include button;
    background: $gradient-1;
    background: linear-gradient(135deg, $gradient-1 0%, $gradient-2 100%);
    width: 120px;
    border: none;
    margin: 15px 0;
    line-height: 1.6;
    cursor: pointer;
    align-self: flex-end;
    position: relative;
    overflow: hidden;

    &:hover {
      background: $gradient-2;
    }

    .progress {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $gradient-button-2;
    }

    .button-text {
      position: relative;
      z-index: 1;
    }

    &:disabled {
      opacity: .5;
    }

    &.error {
      background: #f00;

      .progress {
        display: none;
      }
    }
  }
}