$menu-pictures: about, skills, job, education, portfolio, contact;

.c_menu {
  background: $white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  z-index: 2;
  border-top: 1px solid $box-border;

  a {
    width: 30px;
    height: 30px;
    margin: 10px;
  }

  @each $menu-name in $menu-pictures {
      a[href*="#{$menu-name}"] {
          background: url("../images/#{$menu-name}-1.svg") no-repeat center;

          &:hover, &.active {
            background-image: url("../images/#{$menu-name}-2.svg");
          }
      }
  }

  @include bp($md) {
    flex-direction: column;
    width: 60px;
    height: auto;
    bottom: auto;
    border-top: none;
  }
}