.c-skills {
  background: url(../images/section-bg.svg) no-repeat 30px 0;
  background-size: 110%;

  @include bp($xs) {
    background-position: 110% 10%;
    background-size: 55%;
  }

  @include bp($sm) {
    background-position: 100% 50%;
    background-size: 45%;
  }

  @include bp($md) {
    background-position: 200px -50px;
    background-size: 75%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;

    @include bp($xs) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include bp($sm) {
      justify-content: space-around;
    }

    @include bp($md) {
      justify-content: space-between;
    }
  }

  &__title {
    border-bottom: 1px solid #ccc;
    margin: 15px -30px;
    padding-bottom: 15px;
  }

  &__group {
    padding: 15px 30px;
    margin: 0 -30px;
    border-bottom: 1px dotted $box-border;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    @include bp($xs) {
      padding: 0;
      border-bottom: none;
      margin: 0;
    }
  }

  &__group-title {
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__item {
    padding-bottom: 10px;
    display: flex;
    align-items: center;

    @include bp($xs) {
      display: block;
    }

    @include bp($lg) {
      display: flex;
      align-items: center;
    }
  }

  &__level {
    display: flex;
    flex-direction: row;

    div {
      border: 2px solid $bg;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      margin-right: 3px;
      box-sizing: content-box;
    }
    .fill {
      background: $bg;
    }
  }

  &__name {
    width: 120px;

    @include bp($xs) {
      width: auto;
    }

    @include bp($lg) {
      width: 120px;
    }
  }
}