.c-skills {

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include bp($xs) {
      flex-direction: row;
    }
  }

  &__item {
    padding: 5px 15px 15px 0;
  }

  &__level {
    display: flex;
    flex-direction: row;

    div {
      border: 2px solid $bg;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      margin-right: 3px;
      box-sizing: content-box;
    }
    .fill {
      background: $bg;
    }
  }
}