$triangle-width: 10px;
$width-year: 150px;

.c-timeline {

  &__wrap {
    position: relative;

    &:before {
      position: absolute;
      top: 25px;
      left: 0;
      bottom: 0;
      content: '';
      width: 2px;
      background: $bg;
    }

    @include bp($sm) {

      &:before {
        left: $width-year + 40px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;

    &:before {
      position: absolute;
      top: 25px;
      left: -2px;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $colorText;
    }

    &:last-child {

      &:after {
        top: 31px;
        left: 0;
        bottom: 0;
        width: 2px;
        content: '';
        position: absolute;
        background: $white;
      }
    }

    @include bp($sm) {
      flex-direction: row;

      &:before {
        left: $width-year + 38px;
      }

      &:last-child {

        &:after {
          left: $width-year + 40px;
        }
      }
    }
  }

  &__year {
    width: $width-year;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding: 0 10px;
    background: linear-gradient(to right, $blue, $green);
    position: relative;
    margin: 0 0 0 $triangle-width;

    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      left: -$triangle-width;
      border-width: 14px $triangle-width 14px 0;
      border-color: transparent $blue transparent transparent;
    }

    @include bp($sm) {
      flex: 0 0 $width-year;
      margin: 0;
      background: linear-gradient(to right, $green, $blue);

      &:before {
        left: 100%;
        border-width: 14px 0 14px $triangle-width;
        border-color: transparent transparent transparent $blue;
      }
    }
  }

  &__work {
    margin-left: $triangle-width;
    margin-top: 15px;

    //width: calc(100% - #{$width-year});

    @include bp($sm) {
      padding-left: 50px;
      margin-top: 0;
    }

    h3 {
      margin-top: 5px;
    }

    h4 {
      color: $bg;
    }
  }
}