$triangle-width: 10px;
$width-year: 130px;

.c-timeline {

  &__wrap {
    position: relative;

    &:before {
      position: absolute;
      top: 25px;
      left: 0;
      bottom: 0;
      content: '';
      width: 2px;
      background: $bg;
    }

    @include bp($sm) {

      &:before {
        left: $width-year + 40px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;

    &:before {
      position: absolute;
      top: 25px;
      left: -2px;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $gradient-button-2;
    }

    &:last-child {

      &:after {
        top: 31px;
        left: 0;
        bottom: 0;
        width: 2px;
        content: '';
        position: absolute;
        background: $white;
      }
    }

    @include bp($sm) {
      flex-direction: row;

      &:before {
        left: $width-year + 38px;
      }

      &:last-child {

        &:after {
          left: $width-year + 40px;
        }
      }
    }
  }

  &__year {
    height: 28px;
    line-height: 30px;
    font-size: 13px;
    padding: 0 10px;
    background: $gradient-1;
    color: $white;
    position: relative;
    margin: 0 0 0 $triangle-width;
    width: $width-year;

    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      left: -$triangle-width;
      border-width: 14px $triangle-width 14px 0;
      border-color: transparent $gradient-1 transparent transparent;
    }

    @include bp($sm) {
      flex: 0 0 $width-year;
      margin: 0;

      &:before {
        left: 100%;
        border-width: 14px 0 14px $triangle-width;
        border-color: transparent transparent transparent $gradient-1;
      }
    }
  }

  &__work {
    margin-left: $triangle-width;
    margin-top: 15px;

    h5 {
      display: none;
    }

    @include bp($sm) {
      padding-left: 50px;
      margin-top: -15px;
    }
  }

  &__place {
      margin-bottom: 5px;
      line-height: 18px;
  }

  &__position {
    color: $box-border;
  }

  &__responsibility {
    margin-top: 10px;
  }
}