@import 'helpers/normalize';
@import 'helpers/variebles';
@import 'helpers/mixin';

@import 'base/base';
@import 'base/typography';
@import 'base/grid';

@import 'component/icon';

@import 'component/welcome';
@import 'component/menu';
@import 'component/about';
@import 'component/skills';
@import 'component/timeline';
@import 'component/portfolio';
@import 'component/contact';