@import 'helpers/normalize';
@import 'helpers/variebles';
@import 'helpers/mixin';

@import 'base/base';
@import 'base/typography';
@import 'base/grid';

@import 'component/icon';

@import 'component/contact-link';
@import 'component/welcome';
@import 'component/menu';
@import 'component/about';
@import 'component/skills';
@import 'component/timeline';
@import 'component/portfolio';
@import 'component/contact';


#p_prldr{
  position: fixed;
  left: 50%;
  top: 50%;
  right:0;
  bottom:0;
  transform: translate(-50%);
  background: #A0A9FD;
  z-index: 30;
}

.contpre{
  position: absolute;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 41px;
  height: 41px;
  background: #E68FFB;
  margin: -16px 0 0 -16px;
}